body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  border-radius: 10px;
  border: solid 2px #ECEDF2;
  padding: 20px;
}
